[2019-02-27 05:40] sbardian opened #2 "Create default "Home" crumb"
Create prop (`setHome` maybe) for `<Breadcrumb>` that will automatically create a base default `Home` crumb.

[2019-02-27 05:41] sbardian opened #3 "Implement sitemap breadcrumbs (gatsby-plugin-sitemap)"
Currently working on this, using `gatsby-plugin-sitemap`. . .  more to come.

[2019-02-27 05:42] sbardian opened #4 "Implement sitemap breadcrumbs (gatsby-plugin-advanced-sitemap)"
more to come after I have implemented this for `gatsby-plugin-sitemap`

[2019-02-27 05:43] sbardian opened #5 "Write some tests"
...come on write some tests.   Plan was to use cypress.  Will need a default Gatsby site to include the plugin and run the tests against.  more to come. . .

- [x] gatsby-node
- [x] click tracking component
- [x] auto gen component
- [x] useBreadcrumb

[2019-03-02 16:17] sbardian opened #6 "Setting crumbLabel with SitemapCrumbs"
Not sure how this will look, but I would like to be able to allow setting the `crumbLabel` when using `Sitemap/SitemapCrumbs`.  Currently it uses the page name, which will not look great in some cases

[2019-03-07 14:47] sbardian commented on #3
This has been implemented under 1f74ae8.  More tweaks to follow I'm sure, but closing this issue.

[2019-03-07 14:47] #3 closed

[2019-03-13 14:55] #2 closed

[2019-03-13 14:56] sbardian commented on #2
:tada: This issue has been resolved in version 2.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gatsby-plugin-breadcrumb)
- [GitHub release](https://github.com/sbardian/gatsby-plugin-breadcrumb/releases/tag/v2.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-19 11:23] dvlprmartins opened #14 "Reset bread crumb state functionality"
I currently have an issue with the breadcrumbs default crumb.
So let's imagine that our default crumb is this one `/writtens`.

Inside "writtens" we have our posts, so for example: `/writtens/a-funny-post`.
Writtens page is also on my navbar, so I have a <Link /> that navigates to it.

So this is the behaviour:
If I go to Writtens page and then go to writtens/a-funny-post it will create the expect

[2019-06-19 14:21] sbardian commented on #14
hey @dvlprmartins
I have updated the demo to use a default breadcrumb (https://codesandbox.io/s/50o4zwm91l).  For your first issue it seems to work for me.  Have a sandbox or something you could share? Only thing I can think of is it might be something wrong with the way the default crumb was structured in your `gatsby-config.js`?

The second issue seems to work in the demo as well.  So either I h

[2019-06-19 14:53] dvlprmartins commented on #14
Hello @sbardian
Thanks for your reply. I'll make a sandbox so I can share with you after I get off of work.
But yes It might be something wrong with my configuration, I'm also getting a navigation warning whenever I use a breadcrumb link.
I'll update this when I create the sandbox.
Thank you very much!

[2019-06-19 16:24] dvlprmartins commented on #14
@sbardian I probably didn't explain my self very well.
I was able to reproduce my problem on the demo you provided.

If you go to Page 2 and refresh the page the breadcrumb will start on the Page 2.
If you go to the home page it will change to `Page 2/Home`.

Isn't it possible to always keep the same structure Home -> Page 2 or Page 3, no matter where you reloaded your website?

[2019-06-19 16:37] sbardian commented on #14
I see it now!   Yes this is not the expected behavior.  I will look into this today!

[2019-06-19 16:52] dvlprmartins commented on #14
@sbardian Awesome! Thanks for that!
If you need anything let me know!

[2019-06-19 17:00] sbardian commented on #14
@dvlprmartins actually.  It may have just been that the sandbox didn't have the latest version of `gatsby-plugin-breadcrumb` installed.  I have updated it and I think it is behaving as it should now/as expected?
https://codesandbox.io/s/50o4zwm91l

Let me know, are you on the latest release?

[2019-06-19 18:58] dvlprmartins commented on #14
@sbardian Yes I'm on the latest release and It's still happening.
Already tried using the component on every single page that I have and tried the layout method, the behaviour is the same.

[2019-06-19 19:06] sbardian commented on #14
Hmm.  We'll check out the demo, is it working as you expect now?  Otherwise maybe share the sandbox and I'll dig deeper.  Thanks

[2019-06-19 20:02] sbardian commented on #14
Here is the demo that i _think_ is working how we would expect.  I had an error, but seems correct now.

https://codesandbox.io/s/50o4zwm91l

[2019-06-19 20:14] dvlprmartins commented on #14
Indeed that demo works as expected!

Here's my sandbox https://codesandbox.io/s/github/dvlprmartins/dvlprmartins

Thanks for your help btw!

[2019-06-19 21:07] sbardian commented on #14
Thanks.  I will dig into this tonight!

[2019-06-20 02:43] sbardian commented on #14
@dvlprmartins

I made a fork of your sandbox (https://codesandbox.io/s/pedro-martins-313ju).  Seems there were a couple issues.  One was most likely my fault.  In the gatsby.config.js you had the same mistake I made updating my sandbox example to use a default crumb.

Double nested `options` properties.
[code]

The second change I made was how you were using the Breadcrumb component in /components

[2019-06-20 13:43] dvlprmartins commented on #14
@sbardian Sorry for late reply.
Seems like the problem was actually the double nested properties haha :p
Thank you very much! I actually never noticed those.
Also fixed the array assignment, silly thing from me.
Thanks again.

I think the docs are clear. But anything that I feel that needs to be more clear I'll definitely make a PR. Want to start contributing to this community.

Again thanks!

[2019-06-20 13:43] #14 closed

[2019-06-25 14:35] matteomanzo opened #15 "ReferenceError: URL is not defined"
Hello, I am using the "Sitemap Mode". I've included the gatsby-plugin-sitemap, generated the sitemap and it creates it correctly, but when I include this part in the plugins
[code]
and run the app, I get:
[code]

Thanks

[2019-06-25 14:42] eppemela commented on #15
Same here...

[2019-06-25 14:56] sbardian commented on #15
Do you also have the plugin `gatsby-plugin-remove-trailing-slashes` ?  Just a thought off the top of my head.  I can do more testing on my end later today as well.

[2019-06-25 15:01] sbardian commented on #15
Also, be sure to check out the Gotchas section if you missed it?

https://github.com/sbardian/gatsby-plugin-breadcrumb#gotchas

[2019-06-25 15:07] matteomanzo commented on #15
@sbardian yes I have got `gatsby-plugin-remove-trailing-slashes` installed and I made sure that my config respects the gotchas you mentioned, unfortunately this error keeps occurring.

[2019-06-25 15:11] sbardian commented on #15
Thanks @matteomanzo. I'll do more troubleshooting on my end and see if I can reproduce.

[2019-06-25 15:12] matteomanzo commented on #15
Thank you very much @sbardian

[2019-06-25 15:48] sbardian commented on #15
I had a friend run through the Sitemap docs.  Seems I need to update some of the docs as they made sense to me writing them, but he was confused on some of them.  I will do that soon.  Otherwise he was able to use them and it seemed to work fine for him.

I think this might be because of your version of node.  I think URL was introduced in node version 10.  Which I didn't even think about.  Could

[2019-06-25 16:01] sbardian commented on #15
I tried using sitemap with node v8.10.0 and I get the same error.  So, I think its a pretty good guess this is why you are seeing this.  I will look into alternative modules that are supported by earlier versions of node.  For now I would use something like `nvm` / `n` / etc. to `use` a 10+ version of node to compile when using sitemap.

[2019-06-25 16:36] #15 closed

[2019-06-25 16:38] sbardian commented on #15
:tada: This issue has been resolved in version 2.1.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gatsby-plugin-breadcrumb)
- [GitHub release](https://github.com/sbardian/gatsby-plugin-breadcrumb/releases/tag/v2.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-25 16:39] sbardian commented on #15
Let me know if this doesn't fix the issue for you guys!   Sorry for the troubles.

[2019-06-26 09:37] matteomanzo commented on #15
It works now! Thanks a lot you've been very quick!

[2019-07-02 13:34] matteomanzo opened #16 "passing pageContext prop from another page to layout"
Hi, I am using the sitemap-plugin and I think I will only need to pass the right props to make my breadcrumbs work.

Just one question:

What do I have to pass from, for eg., the contact page to the layout in order to make this assignment work?
[code]

I have passed the `pageContext={ breadcrumbs: ['contact'] }` but got the error `Uncaught TypeError: Cannot read property 'map' of undefined`

Any s

[2019-07-02 14:24] sbardian commented on #16
You should only have to pass the `crumbs` from the page, to your Layout component and use/pass them to the `<SitemapCrumbs>` component. I could be confused though, feel free to share some code here or in a sandbox and I will take a look.

[2019-07-03 13:55] matteomanzo commented on #16
Even if I pass only `crumbs` from the page to layout I get this error:
![Screen Shot 2019-07-03 at 15 53 20](https://user-images.githubusercontent.com/25076076/60597159-b947c380-9daa-11e9-870d-0f9454514e99.png)
By the way reading the documentation I saw this `const` being declared so I tried including it but with no success:
[code]
I am passing two props: `crumbs` and `pageContext` from the page t

[2019-07-03 18:21] sbardian commented on #16
What are you passing to `SitemapCrumbs` component in your Layout component?

[code]
This is just defining the crumbs variable from pageContext.

From the error you are not passing the array of crumbs to the `SitemapCrumbs` component.  Best guess without seeing your code anyway?

[2019-07-05 13:12] matteomanzo commented on #16
This is what I am passing to the layout:

[code]

if I don't pass pageContext I get the error `cannot read breadcrumb of undefined`.
I am probably just missing out something very easy but I cannot understand what :)

[2019-07-05 14:17] sbardian commented on #16
hmm and does `<Layout />` component have `<SitemapCrumbs />` component in it somewhere?  Not sure what that `crumbs` prop is?  Can I look at this project on GH somewhere, or is it private?

[2019-07-05 14:31] matteomanzo commented on #16
unfortunately it is private, but I paste here the props that I have on the layout.js
[code]

and then I use the component like this:

[code]

[2019-07-05 15:00] sbardian commented on #16
Assuming your `<Layout />` component is on a gatsby page, try the following.

[code]

`<Layouts crumbs={crumbs} /* whatever else you may need to pass />`

Then in `Layouts`

`<SitemapCrumbs crumbs={crumbs} />`

At the minimum this should be all you need for `SitemapCrumbs` to work.

[2019-07-10 14:50] sbardian commented on #16
Any luck @matteomanzo ?

[2019-07-12 14:39] matteomanzo commented on #16
Sorry @sbardian, I didn't manage to work on the project as I was on holiday, I'll have a look now

[2019-07-12 14:47] matteomanzo commented on #16
No luck, now in the contact page I have:
[code]
and
[code]
And in the Layout I have:
[code]
But I still get the error:

![Screen Shot 2019-07-03 at 15 53 20](https://user-images.githubusercontent.com/25076076/61136877-a9c02d00-a4c4-11e9-9337-e02fc266a9b7.png)

[2019-07-12 15:27] sbardian commented on #16
Strange.  I would console log your crumbs on the page and see if you are getting anything, or try to use `SitemapCrumbs` on the page using `crumbs`.  My guess is your not getting any crumbs from pageContext.

[2019-07-12 15:33] sbardian commented on #16
Let me know what you get.  I have a project I think I can edit to match what you are trying to do.

[2019-07-13 01:48] sbardian commented on #16
I was able to test this tonight.  Seems to work fine for me.  Some ideas even though you may already have them in place:

 - Confirm your sitemap xml file is being created in the public folder
 - The _pages_ you are using `pageContext` on are gatsby pages in the pages folder.
 - On the gatsby page where you use `pageContext` to pull out your `crumbs` console log `pageContext` and confirm a similar

[2019-07-18 16:06] sbardian commented on #16
@matteomanzo any luck?  If you are able to share anything with me I'm willing to look at it.

[2019-08-16 10:50] raufsamestone commented on #6
Hi @sbardian, Is it possible to change "Home" label from SitemapCrumbs?
And is there a way dynamically rewrite the label's lower-case to uppercase from sitemap.xml ? For example default look like "Home/about-us/", but I want to show like "Home/About Us".

[2019-08-16 21:30] sbardian commented on #6
@raufsamestone I have released `v3.1.0` to include the new feature of supplying a crumbLabel for the root path, when using `SitemapCrumbs`.   See the updated docs for the sitemap crumbs gatsby-config [here](https://github.com/sbardian/gatsby-plugin-breadcrumb#sitemap-example).  I still need to reason out a way to allow for custom crumb labels on crumbs built from the sitemap xml.  Hope this helps.

[2019-08-17 01:12] sbardian commented on #6
@raufsamestone please see PR #21.  Hopefully this PR will solve your second issue/request.  I will leave this issue open, as I originally wanted this feature to be more automated as mentioned in the PR, but I hope this will get you by until then.

[2019-08-21 16:37] sbardian commented on #16
@matteomanzo going to close this one.  Feel free to open another if you are still having trouble.

[2019-08-21 16:37] #16 closed

[2019-08-26 16:05] ArthurHwang opened #22 "Duplicate generated crumbs"
Not really sure what is causing this issue however on some of my pages I am getting duplicate breadcrumb entries.  I am using sitemap crumbs.

For instance if the page I am on is `/about-us/client-testimonials`

The rendered breadcrumb is `/ about-us / client-testimonials / client-testimonials / client-testimonials /`

This is happening to a lot of my pages, however not all so I am kind of confuse

[2019-09-05 14:10] sbardian commented on #22
@ArthurHwang this still an issue?  Let me know if I can help, or should close if resolved?

[2019-09-07 15:52] sbardian opened #25 "Fix mistakes in useBreadcrumb documentation"
Noticed some errors in the `useBreadcrumb` documentation.  Need to update these to avoid confusion.

[2019-09-12 15:17] #22 closed, assigned to sbardian

[2019-09-27 15:59] joelisayas opened #27 "Deploy on Netlify failed"
I'm using the plugin with sitemap , it's working fine on local (after gatsby build and serve).
Since i deploy on Netlify it failed.
I was wondering if there is a special conf to set ?

[2019-09-27 16:15] sbardian commented on #27
@joelisayas can you share the error you are seeing on netlify?   I think I have an idea of what might be happening but would like to check the error to be sure.

[2019-09-27 16:33] joelisayas commented on #27
Actually there is no error, it’s just not showing up

[2019-09-27 16:35] joelisayas commented on #27
I will double check logs

[2019-09-27 16:36] sbardian commented on #27
@joelisayas  hmm. . . when you go into the netlify app and then to the project and then to deploys, it should show you the build process and any errors that popped during that in the deploy output window.

[2019-09-27 16:41] joelisayas commented on #27
Here is build log

5:43:10 PM: Build ready to start
5:43:12 PM: build-image version: 9e0f207a27642d0115b1ca97cd5e8cebbe492f63
5:43:12 PM: build-image tag: v3.3.2
5:43:12 PM: buildbot version: a7218d16207abc9d322bc8b7167243e6971856c3
5:43:12 PM: Fetching cached dependencies
5:43:12 PM: Starting to download cache of 202.9MB
5:43:14 PM: Finished downloading cache in 2.136332579s
5:43:14 PM: Starting

[2019-09-27 16:45] sbardian commented on #27
seems like it was successful.  if you preview the deploy what is "missing"?  Are you just getting no breadcrumbs at all?

[2019-09-27 16:51] joelisayas commented on #27
Yes no breadcrumbs
I check as well in the build if the sitemap.xml was present and yes it was.
Do we need to build twice ?

[2019-09-27 16:53] joelisayas commented on #27
I notice this in the build log :
warning The gatsby-plugin-breadcrumb plugin has generated no Gatsby nodes. Do you need it?

Does it matter ?

[2019-09-27 16:53] sbardian commented on #27
no that is a normal message with the plugin.  As it does not create gatsby nodes.

[2019-09-27 16:54] sbardian commented on #27
as far as building twice, I think that would remove the cache folder and start over.  My guess is that the sitemap isn't create by the time it gets to the plugin attempting to use it.  I'm setting up a project of mine to deploy to netlify to test/troubleshoot this.

[2019-09-27 17:00] sbardian commented on #27
@joelisayas do you list `gatsby-plugin-sitemap` before `gatsby-plugin-breadcrumb` in your gatsby-config.js?

[2019-09-27 19:20] joelisayas commented on #27
this is my gatsby-config.js
`
require('dotenv').config();

module.exports = {
  siteMetadata: {
    title: `Arik Levy`,
    description: `Arik Levy Studio and Design`,
    author: `@isayas`,
    siteUrl: process.env.SITE_URL,
  },
  plugins: [
    `gatsby-plugin-remove-trailing-slashes`,
    {
      resolve: `gatsby-plugin-sitemap`,
      options: {
        output: `/sitemap.xml`,
      },
    },

[2019-09-27 19:22] sbardian commented on #27
thanks @joelisayas.  I'm looking into a way to ensure that `gatsby-plugin-sitemap` is finished building out the xml before attempting to read it.  I'm not sure how your build doesn't fail, would have to see your code.  When I try it I get back no breadcrumbs as there is no sitemap xml file to read from when my code is building out the crumbs.  more to come. . .

[2019-09-29 22:15] sbardian commented on #27
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gatsby-plugin-breadcrumb)
- [GitHub release](https://github.com/sbardian/gatsby-plugin-breadcrumb/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-29 22:18] sbardian commented on #27
@joelisayas please give this new release a try.  Be sure to read the updated docs.  I could not see away around the sitemap XML file not being there to read while the build is happening, as `gatsby-plugin-sitemap` and even `gatsby-plugin-advanced-sitemap` all create the XML file during the `onPostBuild` gatsby-node API (the last step in the build process).  Here is a link to the updated docs.  Ple

[2019-09-29 23:24] sbardian commented on #27
hmm may have a problem with the release.  testing. . .

[2019-09-30 03:31] sbardian commented on #27
I'm having mixed results.  This seems to work fine when using Netlify's 'netlify dev' CLI, but fails in production.  I still might have a race condition i need to `chase` down. . .  still looking into this.

[2019-09-30 18:32] joelisayas commented on #27
@sbardian should i try your latest release or it's not worth it ?

[2019-09-30 18:39] sbardian commented on #27
I don't think it will work.  Feel free if you are bored, but I don't think it will work in netlify yet.  Tracking it down still.

[2019-09-30 20:09] #27 closed

[2019-09-30 20:11] sbardian commented on #27
@joelisayas - ok, give this a go.  let me know if it fixes it for you.  see the updates docs once again

[2019-09-30 20:13] sbardian commented on #27
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gatsby-plugin-breadcrumb)
- [GitHub release](https://github.com/sbardian/gatsby-plugin-breadcrumb/releases/tag/v5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-01 06:39] joelisayas commented on #27
Well done Brian, it work perfectly !

[2019-10-01 16:29] muuvmuuv opened #29 "Remove last slash in SitemapCrumbs"
Would be great if the last slash is removed because it does not make sense to have one more slash when the current page is the last crumb item.

[2019-10-01 16:37] muuvmuuv opened #30 "Add option to add classes instead of inline styles"
I'm a big fan of good old CSS (Scss) and don't like the CSS-in-JS hype. So I suggest an option to switch that, so instead of inline CSS, classes are added to each element.

This would allow me to easier style them along the rest of my layout.

[code]

I have also modified the HTML structure, which IMO makes more sense.

Removing CSS-in-JS would also remove bundle size and reduce the plugin to its

[2019-10-01 18:10] #29 closed

[2019-10-01 18:19] sbardian commented on #29
:tada: This issue has been resolved in version 5.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gatsby-plugin-breadcrumb)
- [GitHub release](https://github.com/sbardian/gatsby-plugin-breadcrumb/releases/tag/v5.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-02 00:50] sbardian commented on #30
I have a release ready to go that I think is a compromise on this issue/request.  CSS being a hotly debated topic, I have left the current behavior, but allowed for a new plugin option `useClassNames: true` to be used.  This will disable any default CSS applied and disable any props used to pass CSS style objects to the `Breadcrumb` and `SitemapCrumbs` components.  Allowing someone to `opt-out` of

[2019-10-02 01:00] #30 closed

[2019-10-02 01:04] sbardian commented on #30
:tada: This issue has been resolved in version 5.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gatsby-plugin-breadcrumb)
- [GitHub release](https://github.com/sbardian/gatsby-plugin-breadcrumb/releases/tag/v5.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-02 01:18] sbardian commented on #30
docs using `Breadcrumb`
https://github.com/sbardian/gatsby-plugin-breadcrumb#click-tracking-useclassnames-example

docs using `SitemapCrumbs`
https://github.com/sbardian/gatsby-plugin-breadcrumb#sitemapcrumbs-useclassnames-example

[2019-10-02 01:19] sbardian commented on #6
closing, going to assume this worked out ok.

[2019-10-02 01:19] #6 closed

[2019-10-02 01:21] sbardian commented on #4
closing, ended up moving away from using sitemap plugins and have implemented sitemapcrumps another way.

[2019-10-02 01:21] #4 closed

[2019-10-03 22:17] rishipr opened #31 "Uncaught TypeError: updateCrumbs is not a function"
Running into this error when following the instructions in the docs under the [Click Tracking Layout component example](https://www.gatsbyjs.org/packages/gatsby-plugin-breadcrumb/#click-tracking-layout-component-example)?

`Uncaught TypeError: updateCrumbs is not a function`
`The above error occurred in the <Breadcrumb> component:`
`The above error occurred in the <AppContainer> component:`

[2019-10-03 23:35] sbardian commented on #31
@rishipr  Is there a repo I can check out, or a codesandbox?  If not I can try to recreate with a new project.

[2019-10-04 00:32] sbardian commented on #31
@rishipr  I setup this quick codesandbox.  Seems ok here.  Give this a look and let me know.

https://codesandbox.io/s/breadcrumb-with-layout-ce0rp

[2019-10-07 04:16] rishipr commented on #31
When I restarted the Gatsby dev server, the error went away and now I cannot reproduce it. Anyways, all is well now. Thanks for your help and for this project!

[2019-10-07 04:16] #31 closed

[2019-10-09 10:09] DigitalDrill opened #33 "How to define crumbs?"
Hi!
Thanks for this great handy plugin.
I wanted to look at the demo of the new version where AutoGen was introduced but it seems there is an error with undefined crumbs there as you can see on the following screenshot.
<img width="652" alt="Capture d’écran 2019-10-09 à 11 54 22" src="https://user-images.githubusercontent.com/49647650/66472461-93a71600-ea8d-11e9-8759-fe50bf10a6d1.png">

I tried

[2019-10-09 14:19] sbardian commented on #33
@DigitalDrill I checked out the Demo, I had missed updating `gatsby-plugin-breadcrumb` to v6 after the release.  I have updated the demo dependency and it seems fine now.  Please make sure you are on v6.  If you are, and are still having trouble let me know.

[2019-10-09 15:59] DigitalDrill commented on #33
@sbardian Thanks for this quick answer.
This was a great fix :)

[2019-10-09 15:59] #33 closed

[2019-11-06 10:33] thejamespower opened #37 "Crumbs Should not be Prefixed With pathPrefix if Run with --prefix-paths"
The plugin should have an option/work with builds that define a pathPrefix in gatsby-config. If one is defined, all location hrefs and `Link`s are automatically prefixed with the pathPrefix, which breaks all the breadcrumb functionality.

https://www.gatsbyjs.org/docs/path-prefix/

[2019-11-06 12:21] thejamespower commented on #37
Not sure if this is linked, but when using the clickTracking method with useBreadcrumb, the defaultCrumb is not given the same data shape as other crumbs. In particular, key is missing, which means we cannot check which is the current page.

[2019-11-06 17:22] sbardian commented on #37
@thejamespower if you are using Click Tracking (`<Breadcrumb />` component) you don't need `useBreadcrumb`.  `<Breadcrumb />` component already uses it under the hood.   `useBreadcrumb` should be used with a custom Breadcrumb component.

[2019-11-06 17:23] sbardian commented on #37
@thejamespower I will look into this and work on supporting projects with path prefix.

[2019-11-06 19:04] sbardian commented on #37
@thejamespower I see what is happening and will work on a fix for this.  Thanks for the issue!

[2019-11-07 21:47] sbardian commented on #37
@thejamespower I have pushed a new feature for you to test out.  (https://github.com/sbardian/gatsby-plugin-breadcrumb/releases/tag/v6.2.0).  See the updates docs as well.

Quickly you would add the following to your `gatsby-plugin-breadcrumb` options.

[code]

[2019-11-07 21:49] sbardian commented on #37
@thejamespower you can find the Click Tracking gatsby-config example for this here:

https://github.com/sbardian/gatsby-plugin-breadcrumb#click-tracking-example

[2019-11-07 21:55] sbardian commented on #37
@thejamespower sorry didn't mean to close this issue until I heard back from you.

[2019-11-14 17:36] sbardian commented on #37
@thejamespower going to assume this is good to go and close the issue.  Feel free to reopen it if not.

[2019-11-14 17:36] #37 closed

[2019-11-22 01:07] sbardian commented on #5
Wrote some tests for click tracking. . . More to come.

[2019-11-25 16:17] sbardian commented on #5
added gatsby-node tests

[2019-11-26 23:10] sbardian commented on #5
added auto gen tests

[2019-11-27 01:49] sbardian commented on #5
useBreadcrumb was covered by the other tests.  closing this issue as we now have some tests.

[2019-11-27 01:49] #5 closed

[2019-11-28 09:29] thejamespower commented on #37
Sorry for delayed reply @sbardian, will look into this :) Thanks

[2020-01-07 18:26] muuvmuuv opened #42 "How to set sub route titles"
For example, I have a route like `/writings/day-and-night`, when I now go to `day-and-night` set a `crumbLabel` with "Day and Night" my breadcrumb would look like that `Root / writings / Day and Night`. What I would love to see is `Root / Writings / Day and Night` (capitalized W), is this possible or something to consider adding to this plugin?

Maybe it would make sense to create some router JSON

[2020-01-07 19:29] sbardian commented on #42
thanks for the issue @muuvmuuv let me do some checking into this and get back to you!

[2020-01-08 16:04] #42 closed

[2020-01-08 16:12] sbardian commented on #42
:tada: This issue has been resolved in version 6.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gatsby-plugin-breadcrumb)
- [GitHub release](https://github.com/sbardian/gatsby-plugin-breadcrumb/releases/tag/v6.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-08 16:14] sbardian commented on #42
@muuvmuuv  see Readme (https://github.com/sbardian/gatsby-plugin-breadcrumb#autogen-example) and checkout the new plugin option `updateCrumbLabels`

[2020-01-08 16:51] muuvmuuv commented on #42
Does not work for me somehow:

[code]

![Bildschirmfoto 2020-01-08 um 17 50 44](https://user-images.githubusercontent.com/11534760/71998155-69592600-323f-11ea-9512-0b573295a077.png)

Anyway I would still need to manually get the title for a generated page, IMO this could also be added to the `crumb` array by adding an option `labelPropName: "title"` which will look in the parsed pages (`allMarkdow

[2020-01-08 17:18] sbardian commented on #42
@muuvmuuv i performed the same update and it works fine for me.  Are you sure you have updated to the new release and restarted gatsby build/develop?  This is performed at build time.

[2020-01-08 17:27] muuvmuuv commented on #42
Dump me, forgot to restart the dev server...

What is your opinion about my seconds suggestion? In my case this is kind of necessary because I implemented the breadcrumb into my header layout component, so I do not need to paste it into every new page and it is more dynamic.

[2020-01-08 17:44] sbardian commented on #42
@muuvmuuv I also have the `<Breadcrumb />` component in my layout, and on each page (page template/etc) using the layout, I pass props to the layout that I then pass to the `<Breadcrumb />` component within the layout component. See the Click Tracking Layout example (https://github.com/sbardian/gatsby-plugin-breadcrumb#click-tracking-layout-component-example).  Instead of passing a `location` prop

[2020-01-08 18:41] muuvmuuv commented on #42
Good idea, this would work I guess but I'm using the `gatsby-plugin-layout` and don't know how to replicate it with it. The problem is I don't know how to pass something to my context from a page component. I always get `Error: Invalid hook call. Hooks can only be called inside of the body of a function component. This could happen for one of the following reasons:` when I try to use the dispatche

[2020-01-08 18:59] sbardian commented on #42
@muuvmuuv let me look into the layout plugin and get back to you

[2020-01-08 19:02] muuvmuuv commented on #42
Ahh okay, got it. I need to use `useEffect` because I'm using a different approach for a global context from this tutorial here:https://medium.com/@samuelresua/global-state-with-react-context-cfa99946900d

[code]

but somehow the "writings" is still not correctly displayed. I will investigate more. Could you update the books example with the new option you have added, so I can look for differences

[2020-01-08 19:13] sbardian commented on #42
@muuvmuuv that looks to just be global state for your app using useContext and useReducer.  Should have nothing to do with the gatsby context that is passed to each page in /pages of a gatsby app. which is where the breadcrumbs come from.  No need to query them/etc.

see here: https://github.com/sbardian/books/blob/0cee5e392b0ea2b9d258c6416bb8e5df2280a402/src/pages/index.js#L16

And the only updat

[2020-01-08 19:31] muuvmuuv commented on #42
@sbardian yes that is the way I'm passing data to the breadcrumb:

[code]

[2020-01-08 19:34] muuvmuuv commented on #42
AH! There is a typo! In the README you say `updateCrumbLabels` not `crumbLabelUpdates` 😄 now it works like a charm, many thanks for your time. Awesome work!

[2020-01-08 19:56] TheFirstMe commented on #42
Thanks I was also stuck with this lol.

[2020-01-08 20:00] TheFirstMe commented on #42
@muuvmuuv Regarding the part about "Day and Night" in the breadcrumbs... I also want the same effect. How did you solve it?

[2020-01-08 20:02] sbardian commented on #42
Crap! sorry about that.  Fix coming in hot.

[2020-01-08 20:10] TheFirstMe commented on #42
@sbardian This is doable. But we have to pass crumbs and crumb label to Layout every time. Is there a workaround for that?

[2020-01-08 20:11] sbardian commented on #42
@TheFirstMe wouldn't you want to? since each page has different/its own breadcrumb?  Maybe I'm not understanding?

[2020-01-08 20:20] TheFirstMe commented on #42
@sbardian I was thinking something like a running a query in the Layout component with current location as a parameter. So I can extract the breadcrumbs from the Layout component itself. Is this possible?

[2020-01-08 20:24] TheFirstMe commented on #42
@sbardian What I mean is accessing the page contexts from Layout component.

[2020-01-08 20:30] sbardian commented on #42
@TheFirstMe hmm I'm not sure you could.  You could query but would need to query with some variable to get the correct page context, so that query would have to live on the page not the component since it has variables. Far as I know static queries still don't support variables...

[2020-01-08 20:33] TheFirstMe commented on #42
@sbardian Ah I forgot that static queries has that issue. Passing props works so that should do it for now 😃

[2020-01-09 07:38] muuvmuuv commented on #42
@TheFirstMe I had issues with that method and SSR, so I'm using a global context to pass information between pages/page templates and the breadcrumb.

`src/store/history.js`: https://pastebin.com/ZJChZVyg
`src/layouts/Index.jsx`: https://pastebin.com/YAJcqhXG
`src/components/Breadcrumb.jsx`: https://pastebin.com/q2fm44LB (included in `<Header />`
`src/pages/index.jsx`: https://pastebin.com/iFaVAk3

[2020-01-09 15:34] sbardian commented on #42
@muuvmuuv I think early on I tried using FrontMatter for this, but this plugin uses onCreatePages API to update the page context.  I think the issue was I was not able to perform graphql queries in conCreatePages API to pull the data (tbh I don't remember for sure, but I did look at FrontMatter early on).

Is there a big difference in providing the "title" via a prop on each page vs having to prov

[2020-01-09 18:20] muuvmuuv commented on #42
You are right @sbardian, Graphql is not available in `onCreatePage` – sadly. BUT it is possible that the user itself set a page context prop in `createPages`. This you could access with `page.context.crumbLabel`.

in `createPages`:
[code]

in `onCreatePage`:

[code]

[2020-01-09 18:28] sbardian commented on #42
@muuvmuuv I think this was/is similar to the initial approach I took, I just didn't see it as "better" and was a  more complex implementation.

And the user still has to submit the `crumbLabel` for each page.  Guess I just didn't see the difference between using frontmatter and a prop?

[2020-01-10 09:14] muuvmuuv commented on #42
I mean, this is optional, right and just an suggested improvement to minimal manual configuration. Plugins that are requirering other plugins for some feature aren't uncommon.
So using `crumbLabel` at build time would have saved me a lot of time fiddling around with `createContext` and sending this around. Sure I would still need to send `crumbs` around, this would be the next improvement––so this

[2020-01-10 17:02] sbardian commented on #42
Sure, just seems we are trying to solve for one specific case, that being that you are using the gatsby-plugin-layout plugin.  This would be a none issue for everyone not using that plugin.

[2020-01-31 19:30] adonig opened #54 "Breadcrumb Missing on Paginated Pages Since 7.0.0"
I combine gatsby-plugin-breadcrumb with gatsby-awesome-pagination. Since the 7.0.0 release the pageContext is missing the breadcrumb object on paginated pages. I might find the time to create a minimal reproducible example repository tomorrow.

[2020-01-31 21:07] sbardian commented on #54
@adonig Thanks for the issue. 7.0.0 release should have just removed support for the SitemapCrumbs component and use.  Let me know if you have a project I can check out, or reproducible example.  I'll do some testing myself until I hear back
.

[2020-02-01 15:29] sbardian commented on #54
@adonig I'm using 7.0.0 with AutoGen and it seems to be fine. `pageContext` is being populated with breadcrumb/etc. Let me know if you are able to provide a repo or a codesandbox or something? Thanks

[2020-02-02 12:59] adonig commented on #54
@sbardian I'm not able to reproduce the bug since I've upgraded gatsby from 2.19.10 to 2.19.12.

[2020-02-02 21:12] sbardian commented on #54
@adonig sounds good.  Ok to close this one?

[2020-02-02 21:17] adonig commented on #54
@sbardian Yes. Thank you for the plugin btw. 🙏

[2020-02-02 21:17] #54 closed

[2020-02-04 11:18] muuvmuuv opened #56 "Add option to set props to root element"
I would like to add an ID to the root element so I don't need to wrap it around another div which does not make any sense.

Where: https://github.com/sbardian/gatsby-plugin-breadcrumb/blob/develop/src/components/auto-gen-crumb.js#L23

Read more about it here: https://web.dev/dom-size/

Optional:

Return a function with the breadcrumb construction so anyone can build the breadcrumb how they want, l

[2020-02-04 14:57] sbardian commented on #56
@muuvmuuv thanks for the issue.  When using AutoGen you do not have to use the `<Breadcrumb />` component, you can easily write your own breadcrumb component and pass it the data from the pageContext, or use the useBreadcrumb hook and use your own component.  Is this what you mean by any one building the breadcrumb how they want?

[2020-02-04 22:04] davidkartuzinski opened #57 "Am getting double names in the url"
Thank you very much for your plugin.  Coming from WordPress and SEO in general, I find breadcrumbs to be vital in my battle with our friend Mr. Google. So, thank you for this plugin. (However, I am relatively new to JavaScript and React.)

Having said that, I am getting a weird issue.

For my page that lists all blog posts with a specific tag (or a specific Category), I am **expecting**:

**_home/

[2020-02-05 00:55] sbardian commented on #57
@davidkartuzinski thanks for the issue! I'll take a look and get back to you!

[2020-02-05 02:42] sbardian commented on #57
@davidkartuzinski well, the issue is you are trusting my example of a customCrumbLabel from the docs to work with your app :)

this line:
https://github.com/davidkartuzinski/1001teafacts/blob/8a647f9f3f890d0832edadf43e05daccbfa10314/src/templates/tags.js#L20

and this line:
https://github.com/davidkartuzinski/1001teafacts/blob/8a647f9f3f890d0832edadf43e05daccbfa10314/src/templates/categories.js#L2

[2020-02-05 12:43] muuvmuuv commented on #56
Yes, thanks, this is it! Totally forgot that I'm already passing the structured crumbs to the plugin component.

[2020-02-05 12:43] #56 closed

[2020-02-05 21:28] davidkartuzinski commented on #57
@sbardian Thank you.  This code definitely solved the issue. I would love to try and make a pull request on the docs, however, I am not sure if I fully understand why the solution works, and therefore not sure if I can do a good job.  Could you confirm my understanding below? and then I can propose something to you for the docs.

Looking at this snippet:
[code]

From what I understand, the plugin

[2020-02-05 21:28] #57 closed

[2020-02-05 22:01] sbardian commented on #57
@davidkartuzinski no problem.  I'll look into removing or just making that line in the example a note, that might help.  thanks!

[2020-02-22 14:07] davidkartuzinski opened #58 "Aria Labels and HTML output"
Hello.  Thank you for your plugin.  It works well for my uses.

However, I have two issues that are related to each other.

Currently, the plugin outputs Divs and Spans:

Like so:

[code]

Issue #1:

Per https://www.w3.org/TR/wai-aria-practices-1.1/examples/breadcrumb/index.html.

A more accessible pattern is:

[code]

Like this example, I was able to easily wrap the Breadcrumbs in a Nav element.

[2020-02-22 19:17] sbardian commented on #58
@davidkartuzinski Thanks for the issue!

#1 - I think if you pass aria-current prop it will be spread across the div with the `breadcrumb` class.  Pretty sure I spread any extra props there.

#2 - Currently the only way would be to not use the `<Breadcrumb>` component and to write your own, passing the data generated by the plugin using autogen to your own "breadcrumb" component using nav/ol/li HT

[2020-02-22 19:55] davidkartuzinski commented on #58
@sbardian - Thank you.  Generally speaking I can wait. I am still working on making my own theme, and it will be better for me to have people use your plugin (which is great), than something I try and throw together.

As to #1 - I am not sure I explained it well.

If the breadcrumb is:

*Home > Blog > **Awesome-Article***

The generated HTML, would have  `aria-current="page"` on the last `a` tag |

[2020-02-22 20:45] sbardian commented on #58
@davidkartuzinski hmm looking at the code, I think passing it as a prop (to `<Breadcrumb>` component) would actually spread / add it to all the "crumbs" now that I'm looking at it.  So probably wouldn't work.  I'm working on updated to nav/ol/li now though, we will see how it goes.

[2020-02-22 20:50] davidkartuzinski commented on #58
Thank you very much.  I appreciate it. Please let me know if I can help with anything?

[2020-02-23 04:25] sbardian commented on #58
@davidkartuzinski
I think I have a release ready for this update, but wanted to get your thoughts on some of the updates.  Currently the HTML will come out looking something like this:

[code]

I think this matches up pretty well, keeps class names where they should be, etc.

The only issue I had was the Breadcrumb Separator (the `<span>` after each `<a>`/ link).  Instead of including a CSS-in-JS

[2020-02-23 14:22] davidkartuzinski commented on #58
@sbardian - Hi, and thank you for this amazing work!

*About the Inline CSS*

I understand your question about the CSS.  In my opinion, I think it's best to strip out the inline CSS.  A lot of people like Styled Components but also Emotion.  Some like a global.css file while many also like modular CSS, and still others like libraries like Semantic UI, Bootstrap, Tailwinds, etc.

I say remove the C

[2020-02-23 18:21] sbardian commented on #58
@davidkartuzinski  I agree inline CSS should probably go. And publishing CSS along side the plugin for consumers to use sounds like a good option to me.

I have added the `aria-hidden="true"` attribute to the breadcrumb separator spans, which should handle the 'noise' issue, and I think this gets this update to where I can publish it, thoughts?

Then I can start work on the larger update of pullin

[2020-02-23 19:16] davidkartuzinski commented on #58
@sbardian Yes, please! The CSS is less of a big deal.

Please tell me how I can help?

[2020-02-23 19:27] sbardian commented on #58
@davidkartuzinski thanks! I'll get it published.  Let me get the core parts of the updates to the plugin going, then I will take the first shot at a CSS update and we can work through specifics on that together.

[2020-02-23 19:55] sbardian commented on #58
v8.0.0 has been cut.  Give it a try and make sure I didn't screw up anywhere :) hopefully all is well.  I'll get to work on the larger update this week and then get stuff pushed to dev where we can work through details together.  I'll leave this issue open for now while we work through that larger update.
thanks again

[2020-02-23 21:55] sbardian commented on #58
@davidkartuzinski I have pushed a new branch (styles: https://github.com/sbardian/gatsby-plugin-breadcrumb/tree/styles) with the start to the work for removing inline styles.  Most of what we are going to care about is in:

* src/components/auto-gen-crumb.js
* src/components/click-tracking-crumb.js
* /gatsby-plugin-breadcrumb.css
* /README.md

I think the components should be fine, I pulled out al

[2020-02-24 20:29] davidkartuzinski commented on #58
@sbardian Hello! Sorry it took all day to get back to you.  I installed the new version and it's great!
I can't tell if you intended this, but I am not getting any CSS coming through. I can't find the /gatsby-plugin-breadcrumb.css file in the node_modules. Or with search.

Flex and Flex wrap, list style none <---- should be really all that is needed as a base minimum. If that is the way you want t

[2020-02-24 20:39] sbardian commented on #58
@davidkartuzinski  the release v8.0.0 does not have those changes.  That will be part of a larger release removing inline styles, that I'm in the middle of.  See the new branch called "styles" here https://github.com/sbardian/gatsby-plugin-breadcrumb/tree/styles

I will continue to tweak and get this ready for a release (v9.0.0).  I think hitting all the steps you mentioned (1-5 above) would be ni

[2020-02-24 20:44] sbardian commented on #58
@davidkartuzinski reading your comment again. . . if you are not getting _any_ css on the breadcrumb using v8.0.0 then something might be wrong.  That should have just updated the HTML to use nav/ol/li, keeping inline styles and style props. . . My project is still getting the inline props but in the new HTML structure. . .

[2020-02-24 20:55] davidkartuzinski commented on #58
@sbardian - You're fast!

Yeah, I am not getting any CSS. I am getting CSS Class though. And everything is working.
![Screenshot 2020-02-24 at 21 46 49](https://user-images.githubusercontent.com/29503118/75190056-d1ac8a00-574f-11ea-86d6-8674b946aed7.png)

[code]

If you add too much more CSS it could get cumbersome for anyone (like me) who is including your plugin as a starter or theme.  BUT for a

[2020-02-24 20:59] sbardian commented on #58
@davidkartuzinski  ahhh you are using `useClassNames`.  That disables any inline CSS and default styling, so we are all good.  That is how it should be.

I will look into the accessibility includes you mention, thanks!

Wow, yeah if you want to ghost write it that would be awesome!  Let me know.

Thanks!

[2020-02-24 21:07] davidkartuzinski commented on #58
@sbardian Okay okay. So when I set it to False, your CSS comes through. I can confirm.

But not to change the subject, but is this code below supposed to do anything? I forgot I did this and it's not working for me?

[code]

I think when you do your final release I can get the article to you.  Otherwise, you'll get too much attention haha

When you submit a PR with them you get automatic swag, whi

[2020-02-24 21:20] sbardian commented on #58
@davidkartuzinski so that is for updating parts of a path that are not page endpoints.  So say you have the following breadcrumb:

Home / books / Wheel of Time
There are ways of updating the "Home" value (ie: plugin option autoGenHomeLabel: `Root`) and you can update the end (Wheel of Time) via the crumbLabel prop  to the `<Breadcrumb>` component.  To be able to catch the inner section of the brea

[2020-02-24 21:32] davidkartuzinski commented on #58
Okay. So I am not using them correctly! Makes sense haha. Thank you for the explanation.

I am happy that you got yourself some swag! So you know then how easy and fun it is. I will look out for sure for your update.  And then send you the article.

I might do a version of the theme using Gatsby Theme UI - I am not so much of an emotion css guy, and my understanding is that Gatsby Theme UI is basi

[2020-02-24 21:47] sbardian opened #59 "Remove inline css"
- [x] Remove inline styles and style props from autogen component
- [x] Remove inline styles and style props from click-tracking component
- [x] Remove plugin options dealing with styles
- [x] Provide default style css file for users to import for default breadcrumb styles
- [x] Update docs to reflect this change
- [x] Provide new Demo sites (codesandbox) for examples using this new approach

[2020-02-24 21:48] sbardian commented on #58
@davidkartuzinski sounds good!  I am going to close this issue and create a new one for striping out inline css/providing a default css file/etc. (new issue https://github.com/sbardian/gatsby-plugin-breadcrumb/issues/59).  Thanks for all your help, feel free to follow there to see updates or just keep an eye out for v9. Enjoy!

[2020-02-24 21:48] #58 closed

[2020-02-24 23:17] sbardian commented on #58
@davidkartuzinski was looking closer at your component, you might be getting double `<nav>` elements, as the breadcrumb component already wraps it for you, and it looks like you are wrapping it as well.  Just something I noticed you might check on.

[code]

[2020-02-26 12:39] davidkartuzinski commented on #58
@sbardian  - Yes. I haven't pushed my local up to GitHub because I borked it and I need to fix it first. But yes I made the updates.  I will push the updates later and let you know.  But I had already remove the Nav around the breadcrumbs. Thank you very much!

[2020-02-27 19:54] sbardian commented on #59
@davidkartuzinski I have released v9.0.0!  Let me know if you are still interested in working on blog!  thanks

[2020-02-27 19:55] davidkartuzinski commented on #59
@sbardian - I totally am interested. Of course!  I actually upgraded to the latest version about 10 minutes ago.  I will try and get you something tomorrow? How does that sound?

[2020-02-27 20:02] sbardian commented on #59
@davidkartuzinski awesome! no rush.  I noticed I missed somethings, (see v9.0.1) but other than that things are looking good in my personal project using this, and the demos on codesandbox.  thanks again, talk soon.

[2020-02-27 22:58] davidkartuzinski opened #60 ""active" location style CSS doesn't work (totally)"
Hi,

I was testing and playing around with your latest update. And I noticed something.

When you navigate into the crumbs, ie. deep into the site, either from a link in the menu or from within a page, ie. tag page, the active style does *NOT* take affect, *UNTIL* I click on it in the breadcrumb. So, in order for the styles to take place, I have to click on the active page link when I am on that p

[2020-02-27 22:59] davidkartuzinski commented on #59
I think we can close this, but I opened another issue: https://github.com/sbardian/gatsby-plugin-breadcrumb/issues/60#issue-572413715 @sbardian

[2020-02-27 23:58] sbardian commented on #60
@davidkartuzinski so in version 9.0.1 `useClassNames` is gone.  Since I'm not doing any inline css anymore there was no longer a need for it.  It just removed inline css and let you style via the class names.  Let me look into what you are experiencing with the active link.

[2020-02-28 00:10] sbardian commented on #60
@davidkartuzinski as far as I can tell, if you take the trailing / off the url it matches and applies the breadcrumb__link__active class. `gatsby-plugin-breadcrumb` uses Gatsby's (Reach Router's) `<Link/>` component.  The `to` prop has to match the url to be considered "active".  I think there are levels of acceptable matching we could play with, if we would like it to match less restrictively, bu

[2020-02-28 01:50] sbardian commented on #59
commented on the new issue.  closing this one out.  thanks again

[2020-02-28 01:50] #59 closed

[2020-02-28 10:52] davidkartuzinski commented on #60
@sbardian

Yes yes, that is exactly the issue. the "/" is not always at the end of the URL which is why I am seeing different behaviour. Clicking around my site, some of my URLs have the trailing slash and some don't (ie. Tags and Categories) and when the trailing slash is not there, the active Class works great.

I can see how to have all my URLs have the trailing slash. I don't know how to easil

[2020-02-28 15:11] sbardian commented on #60
@davidkartuzinski let me look into what I might be able to do on the plugin end.  If you are in a hurry you might be able to use `gatsby-plugin-remove-trailing-slashes`(https://www.gatsbyjs.org/packages/gatsby-plugin-remove-trailing-slashes/).  This would remove all the trailing slashes of your paths so your urls match up.

[2020-02-28 15:31] sbardian commented on #60
@davidkartuzinski I think we are already good.  Try adding this function to the code where you are using the `<Breadcrumb>` component.

[code]

Then pass the following prop to the `<Breadcrumb>` component:
**getProps={isPartiallyActive}**
[code]
Or just use the `gatsby-plugin-remove-trailing-slashes` in your case.  I'm going to work on updating the README in my plugin to mention these options.

[2020-02-28 16:06] sbardian commented on #60
@davidkartuzinski see the updated README [Gotchas](https://github.com/sbardian/gatsby-plugin-breadcrumb#gotchas).  Let me know what you think.

[2020-02-28 17:41] davidkartuzinski commented on #60
@sbardian - Thank you for your attention to this. I definitely think the `const isPartiallyActive` to be a bit "hacky" and would rather not.

In fact the actual problem is this piece of code:

[code]

This generates a slug with a trailing slash and is use in two major places. The blog roll and tags/categories.  The other links like menu or prev/next, etc are being generated from the frontmatter an

[2020-02-28 17:43] davidkartuzinski commented on #60
I forgot to mention, I think your Readme is super clear. And I wouldn't change a word. (Except to add the above if you think it's valuable)? @sbardian

[2020-02-28 17:51] sbardian commented on #60
@davidkartuzinski yeah the `getProps` prop is part of the `<Link>` API from [Reach Router](https://reach.tech/router/api/Link) so not much we can do about how it works (other than creating better functions for the logic it performs).

I think with all the different ways to create pages/and their URLs in gatsby, everyone could end up with one result or another.  So adding the gotcha and the info th

[2020-02-28 17:54] davidkartuzinski commented on #60
Yes totally okay to close issue! Consider it done.

[2020-02-28 17:54] #60 closed

[2020-04-03 15:58] AndreasJacobsen opened #67 "Feature / documentation request"
I would love the ability to style the first breadcrumb, in the mock up the first breadcrumb (defined  as defaultCrumb in my gatsby-config.js) needs a different style than the other breadcrumbs, see attached screenshot.
![image](https://user-images.githubusercontent.com/8527173/78380547-52269c00-75d4-11ea-9d6f-915d3ca7b625.png)
How ever I cannot write CSS or HTML selectors in the crumbLabel and my

[2020-04-03 17:27] sbardian commented on #67
@AndreasJacobsen thanks for the issue.  I'm taking a look.

[2020-04-03 17:31] sbardian commented on #67
@AndreasJacobsen can you try somewthing like this?

[code]

[2020-04-03 19:53] AndreasJacobsen commented on #67
I got it working with
[code]
Thanks you for your help and your work making this plugin :), I considered making a pull request to add this to the documentation but it seems a bit to hacky to be shown as the official way, if you disagree I'd be happy to make a pull request.

[2020-04-03 19:53] #67 closed

[2020-04-17 18:38] gp1234 opened #69 "In Autogen the route is appearing instead of the Label"
I am working with a route with subdirectories in autogen mode like so http://localhost:8000/page1/page-2/page-3 and in the label it is appearing me the pathname (without the slash) instead of the label I have previously set in each of the pages.
**Expected result:** Home - Page 1 - Page 2 - Page 3
**Actual result:** Home-page1-page-2-page-3

[2020-04-17 19:33] sbardian commented on #69
@gp1234 the default is the page name for the crumb.  If you would like to change it try using the `crumbLabel` prop.

[2020-04-17 19:45] sbardian commented on #69
@gp1234 read your issue again. . . Do you have a codesandbox I could take a look at, maybe I didn't understand it completely with my first reply.

[2020-04-17 19:49] gp1234 commented on #69
@sbardian thank you for answering me, I will do a codesandbox right now, in the meantime maybe I could explain myself better, I am using the crumLabel prop in each page where I use the breadcrumb component even though when I visit this page the crumLabel prop is taken when I continue down the herarchy they loose the crumbLabel I have define and take the url path.

[2020-04-17 19:53] sbardian commented on #69
@gp1234 ah, I think I know what is going on here.  See the following for the `gatsby-config.js` options [here](https://github.com/sbardian/gatsby-plugin-breadcrumb#autogen-example).  I have to do this in my Books app also.  I have a Breadcrumb structure like ( Home / Books / Eye of the World ).  Where "Books" is my path like yours.  Try using the `gatsby-config.js` option as follows for those path

[2020-04-17 19:58] sbardian commented on #69
@gp1234 This isn't documented very well, if you do a codesandbox I can show you how to use this option and confirm this is what is going on.  Thanks!

[2020-04-17 20:04] gp1234 commented on #69
@sbardian Thank you! yes this is the way to do it. I was able to implement it in my project. It will be really cool if this was done automatically though. Have a nice day and thank you again!

[2020-04-17 20:12] sbardian commented on #69
@gp1234 I'll look into this again to see if there is an option for that.  Sadly when the breadcrumbs are auto generated (at build time) it doesn't have the props being sent via the `<Breadcrumb/>` component.  Happy to hear it works for you! I'm going to close this out, feel free to reopen, or open a new issue if needed. Thanks!

[2020-04-17 20:12] #69 closed

[2020-04-28 23:19] cbravo opened #73 "Only put title span into DOM when title is specified"
I created a tiny PR that should handle this here:
https://github.com/sbardian/gatsby-plugin-breadcrumb/pull/72

[2020-04-29 16:38] #73 closed

[2020-05-21 13:19] iloveip opened #77 "useBreadcrumb for AutoGen breadcrumbs"
Hi there,

Is it possible to use `useBreadcrumb` hook with AutoGen breadcrumbs? I would like to use this plugin with Ant Design [breadcrumbs](https://ant.design/components/breadcrumb/). So I just need an array of links for each page.

[2020-05-21 18:49] iloveip opened #78 "Custom crumbLabel doesn't work for navigation of at least 3 items"
Hi there,

I'm trying to use this plugin with `useAutoGen` breadcrumbs. In my default layout I have set a custom crumbLabel depending on frontmatter title from pageContext as follows:

[code]

I have also set `autoGenHomeLabel` in `gatsby-config.js`. When I'm on a page level 2 (`/faq/`), everything works fine and I get correct crumb labels. When I go down to page level 3 (for example, `/faq/questi

[2020-05-21 18:52] iloveip opened #79 "The paths don't have trailing slashes"
Hi there,

I have trailing slashes on my site, but breadcrumbs generated by the plugin have pathnames without them. How can I fix that?

[2020-05-22 02:30] sbardian commented on #77
@iloveip really no need for a `useBreadcrumb` for Auto Gen.  Each gatsby page will get a prop that you can use with Ant Design.

Should look like this:
[code]
So crumbs could be used as your array of links for Ant Design.

[2020-05-22 02:36] sbardian commented on #78
@iloveip this is an issue where you have paths between the home and the final crumb.  You can update the crumb labels for these types of paths using the `crumbLabelUpdates` option in your `gatsby-config.js` for `gatsby-plugin-breadcrumb`.  See the example `gatsby-config.js` [here](https://github.com/sbardian/gatsby-plugin-breadcrumb#autogen-example).

The example shows the following:
[code]
This w

[2020-05-22 02:39] sbardian commented on #79
@iloveip hmm interesting.  Well I'm going to assume you need the trailing slashes?   If not you could use the `gatsby-plugin-remove-trailing-slashes` plugin to remove them as mentioned in the [gotchas](https://github.com/sbardian/gatsby-plugin-breadcrumb#gotchas) section?  Let me know if you _need_ the trailing slashes and I can dig deeper.

[2020-05-22 03:56] iloveip commented on #77
Оk, thank you very much 🙏

[2020-05-22 04:01] iloveip commented on #78
Thank you very much for your reply. Yes, I thought about this too. But it’s not very convenient, if you have to update a lot of labels. That’s why I was asking about using the hook in #77. As you can pass a breadcrumb label there on a page to page basis. For example, if the title of any nested post or page becomes very long, you could pass a short title in frontmatter and use it through pageContex

[2020-05-22 04:02] iloveip commented on #79
Yes, I need trailing slashes. Thank you very much for your help!

[2020-05-22 05:35] sbardian commented on #77
@iloveip feel free to give it a try.  Let me know when you are ok to close this issue.
thanks!

[2020-05-22 05:53] sbardian commented on #78
@iloveip so the `crumbLabel` prop only applies to the last "crumb" in the breadcrumb on any given page.  So passing the `crumbLabel` is specific to each page.  Currently there is no way to update lower level "path" labels from the `crumbLabel` prop or any prop on the `<Breadcrumb/>` component.

I suppose we could have a prop that is like `crumbLabelUpdates` on the `<Breadcrumb/>` component, but th

[2020-05-22 05:55] sbardian commented on #79
I might be able to add a plugin option you could use in `gatsby-config.js` that specifically stops the plugin from removing the trailing slash.  I will look into this.

thanks!

[2020-05-22 06:48] iloveip commented on #77
Yes, sure.

[2020-05-22 06:48] #77 closed

[2020-05-22 06:51] iloveip commented on #78
If `crumbLabel` applies only to the last "crumb", then I guess it's better to leave it as it is. I will use `crumbLabelUpdates` in `gatsy-config.js` file. Thank you very much!

[2020-05-22 06:51] iloveip commented on #79
This would be great! Thank you very much!

[2020-05-22 22:07] sbardian commented on #79
:tada: This issue has been resolved in version 9.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gatsby-plugin-breadcrumb/v/9.1.0)
- [GitHub release](https://github.com/sbardian/gatsby-plugin-breadcrumb/releases/tag/v9.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-22 22:10] sbardian commented on #79
@iloveip please see the new documentation for the `trailingSlashes` plugin option [here](https://github.com/sbardian/gatsby-plugin-breadcrumb#autogen-example)

[2020-05-22 22:10] #79 closed

[2020-05-22 22:12] sbardian commented on #78
@iloveip no problem.  If another option for changing "middle" crumbs comes to mind let me know, or if I come up with something I will implement it.  Thanks

[2020-05-22 22:12] #78 closed

[2020-05-23 05:13] iloveip commented on #79
Thank you very much! 🙏

[2020-05-27 12:35] iloveip opened #81 "Question about exclude pages in AutoGen"
Hi there,

There is an exclude option in AutoGen breadcrumbs for pages like `/404/` and `/404.html`. I would like to ask, what are the reasons for excluding them? In my case it was generating an error during the build, as I use `wrapPageElement` with a layout which includes breadcrumbs. So I had to pass `exclude: []` in my `gatsby-config.js` file.

[2020-05-27 13:43] sbardian commented on #81
@iloveip hmm.  Now that you mention it, I think these were excluded by default because of the old use of `gatsby-plugin-sitemap`. There probably isn't a reason for them (all?) of them to be excluded by default anymore.  I'll do some testing.  Thanks for the issue!

[2020-05-27 13:44] sbardian commented on #81
@iloveip hmm.  Now that you mention it, I think these were excluded by default because of the old use of `gatsby-plugin-sitemap`. There probably isn't a reason for them (all?) to be excluded by default anymore.  I'll do some testing.  Thanks for the issue!

[2020-05-28 03:13] #81 closed

[2020-05-28 03:16] sbardian commented on #81
@iloveip testing seems fine without any default exports, releasing with them cleared.  Should see the release soon! Thanks again.

[2020-05-28 03:17] sbardian commented on #81
:tada: This issue has been resolved in version 10.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gatsby-plugin-breadcrumb/v/10.0.0)
- [GitHub release](https://github.com/sbardian/gatsby-plugin-breadcrumb/releases/tag/v10.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-22 13:50] sbardian opened #87 "Test action"
Testing Github greetings action

[2020-06-22 13:51] #87 closed

[2020-06-22 14:23] sbardian opened #88 "Test greeting"
Test greeting

[2020-06-22 14:27] #88 closed

[2020-07-01 17:56] abeMedia commented on #78
How about an option like `titleSource` where we specify an array of possible title locations?
Then we could do something like the following:

[code]
Then it iterates those properties on the page and returns the title from the first successful one.
This means we can add the titles programmatically for programmatically created pages.

Alternatively we could make the setting a function that is passed

[2020-07-04 02:28] sbardian commented on #78
@abeMedia sorry for the delay.   Would this be a plugin option, or a prop to `<Breadcrumb/>` component?

If it was a plugin option. . . not sure that will work, as we wouldn't know if those other plugins have run yet?  Or. . . are they transformers/source plugins?   Maybe it doesn't matter.  Still trying to think through this, but wanted to reply before I forgot to again.

[2020-07-04 02:47] abeMedia commented on #78
I was thinking plugin options. It would definitely work as they are source plugins.

[2020-07-09 21:19] adonig opened #92 "Possibility of Automatically Generated crumbLabelUpdates"
Currently I have to hardcode a lot of crumbLabelUpdates in gatsby-config.js and whenever the data changes, I also have to check whether those are still correct. Is there a way to generate the crumbLabelUpdates in gatsby-node.js?

[2020-07-09 22:03] sbardian commented on #92
@adonig this was brought up recently.  I have not had time to check into yet.  I will try to look into it asap.  Thanks for the issue!

[2020-07-10 00:12] sbardian commented on #78
@abeMedia as the plugin is now, the breadcrumbs are created for pages that exists, and added to the page via context using the `onCreatePage` API.  I don't have a way to query things like `frontmatter` at this point that I can tell.  There is a new issue #92 that I am looking into new options for this though.

[2020-07-10 00:14] sbardian commented on #92
@adonig  are your path segments that need the Labels updated pages that you create using `createPages` ?

[2020-07-10 07:00] adonig commented on #92
@sbardian Yes. I use `useAutoGen=true` and have categories of things with slugs like `/<name-of-category>/<name-of-thing>/`. I override the crumbLabel for the things with their title dynamically but the link pointing to the category on the thing page still has an incorrect label. That's why I have to maintain all categories in crumbLabelUpdates.

I had a look at the plugin's gatsby-node.js yesterd

[2020-07-10 10:56] adonig commented on #92
@sbardian I wrote some code that allows people to set the crumbLabel in the page context, see here:

https://github.com/adonig/gatsby-plugin-breadcrumb/blob/develop/src/gatsby-node.js

If you are interested, I can make it a pull request.

[2020-07-10 13:58] sbardian commented on #92
@adonig let me check this out.  There have been a couple ideas on how to go about this.  Let me noddle it and see what we can land on.  Thanks!

[2020-07-10 14:01] sbardian commented on #92
@adonig and I guess my question here, is more about, the pages that include your paths that need updating, did you create them using your projects gatsby-node.js and implementing `createPages`?  Say using a template page /etc.

[2020-07-10 14:04] adonig commented on #92
@sbardian Yes, exactly. I create them in gatsby-node.js using gatsby-transformer-csv.

[2020-07-10 14:22] sbardian commented on #92
Ok, so in this case I had a similar idea to what you have done.  Though not everyone is creating them this way, and I want to try to avoid many different ways to update the Label of path segments.  Been pretty busy but let me give it some more thought and see, it might be time that we ditch the `crumbLabelUpdates` for something else all together.

Other ideas were to include it in maybe a frontmat

[2020-07-11 03:25] sbardian commented on #92
@adonig if you have your own pages serving up label updates in the page context, it should flow through to the page / page template as I only add on the breadcrumb to the context.

You could perform the label updates in the page/page template on the breadcrumb object I pass through before sending the crumbs on to the `<Breadcrumb/>` component or your own custom Breadcrumb component.

This would ge

[2020-07-11 11:04] adonig commented on #92
@sbardian I'm currently using my fork.

https://github.com/adonig/gatsby-plugin-breadcrumb/blob/develop/src/gatsby-node.js

Maybe I can quickly explain what it does.

So what I'm doing here, is setting the crumb labels in the page context in my project's gatsby-node.js. I changed gatsby-plugin-breadcrumb's gatsby-node.js to read any crumb labels from the page context before setting the breadcrumbs

[2020-07-11 15:26] sbardian commented on #92
@adonig yup that description matches what I thought you were doing.  I would like to spend some time thinking about it, as it solves for your specific use case, which is great, but I don't want to implement 4 ways to handle this specific to 4 different ways people may currently have label updates.

It may be that everyone is doing something similar to you, just not sure at this point.  That being

[2020-08-21 11:35] yasirhaleem opened #98 "build failed"
gatsby develop works fine, but build failed with below error

`34 |   }, /*#__PURE__*/_react.default.createElement("ol", {
  35 |     className: "breadcrumb__list"

     |                    ^
  37 |     if (hiddenCrumbs.includes(c.pathname)) {
  38 |       return null;
  39 |     }
`

[2020-09-04 09:54] yasirhaleem commented on #98
@sbardian  i'm back to breadcrumb task :)
below is the full error

`failed Building static HTML for pages - 107.128s

 ERROR #95313

Building static HTML failed for path "/using-typescript/"

See our docs page for more info on this error: https://gatsby.dev/debug-html

  34 |   }, /*#__PURE__*/_react.default.createElement("ol", {
  35 |     className: "breadcrumb__list"

     |

[2020-09-04 12:25] yasirhaleem commented on #98
@sbardian there was a type script page in pages folder that was causing the issue, removed that and it works.

[2020-09-04 12:26] #98 closed

[2020-09-04 14:50] sbardian commented on #98
@yasirhaleem awesome!  Happy to hear it!

[2020-10-01 18:01] snussik opened #103 "Unclear styling option rtfm"
Could you write more clear what does `import 'gatsby-plugin-breadcrumb/gatsby-plugin-breadcrumb.css'` mean?
It's some runtime css creation? How I can override default styles? I'm trying to use plugin /w material-ui. Its a pity that in doesn't have native integration.

[2020-10-01 18:28] sbardian commented on #103
@snussik see the following link for what importing this does and how to do it.  It just provides some basic default styling for the breadcrumb. (https://github.com/sbardian/gatsby-plugin-breadcrumb#autogen-styles-and-class-names-applied-to-breadcrumb-elements).

And just below that section there is a list of classes that are applied to specific elements of the breadcrumb.  So you can use those cla

[2020-10-01 18:28] sbardian commented on #103
@snussik let me know if this answers your question? Thanks!

[2020-10-02 06:33] snussik commented on #103
@sbardian I've seen this and tried. I see that some default css with hashed name appears in browser request list.
I don't understand how I can style component with this. Do I have to create some *.css manually in src or some other path. O I must use any other method to override the properties these styles?

[2020-10-02 13:00] sbardian commented on #103
@snussik if you don't want the default styling don't import `gatsby-plugin-breadcrumb/gatsby-plugin-breadcrumb.css`.  Just import your own css file using the classes listed.  You can then use any css properties you like with those classes and they will be applied to the breadcrumb elements.

[2020-10-27 09:38] adstr123 opened #109 "Allow use of wildcards/regex in "exclude" configuration option"
I have a project where I have two parent paths for pages generated by `gatsby-node.js` from a CMS using templates - `/journal/` (blog posts) & `/work/` (portfolio).

I am using this plugin with AutoGen, with configuration as follows:

[code]

The `/work/*` rule does not seem to work as breadcrumbs are still being generated for the sub-sub-paths.

If I test by specifying a specific page within `/wo

[2020-11-09 20:48] developdeez opened #110 "Breadcrumb texts get confused with rerender"
My app uses gatsby with a Layout component I put on all of my pages.
I have the useBreadcrumbs in the Layout taking the location and a sent in title.
I noticed my page rerenders multiple times sending both the last and current titles to useBreadcrumb.
I also noticed this doesn't happen without this plugin.

There appears to be no working examples online.

How do you make this actually work on page

[2020-12-18 19:27] developdeez commented on #110
bump @sbardian

[2020-12-22 15:21] sbardian commented on #110
Sorry @developdeez I have been slammed and unable to look / work on this.  I hope to spend some time soon.

[2020-12-31 22:43] sbardian commented on #110
@developdeez looking into this a little, I'm not sure how this would work using it in a Layout Component as you describe, do you have an example of how you are going about it, a code sandbox or something?  I'm also not sure what you mean by "...sending both last and current titles..." ?  Thanks, sorry for the slow response.

[2020-12-31 22:52] sbardian commented on #103
@snussik going to close this one out.  Hope it worked out for you, if not feel free to open it again.  Thanks!

[2020-12-31 22:52] #103 closed

[2020-12-31 22:53] sbardian commented on #109
@adstr123 let me look into this, there might be something we can do here.  Thanks for the issue!  I know I'm late in replying and maybe it doesn't matter anymore, but I'll see what I can do.  Thanks/Sorry!

[2021-01-02 20:11] sbardian commented on #109
@adstr123 Hopefully v11 release will address this for you!   Let me know if you have any issues, seems to work in my project, but would love to hear if I broke something :)

[2021-01-02 20:11] #109 closed

[2021-01-21 13:10] renovate[bot] opened #127 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 15:06] #127 closed

[2021-01-25 13:53] RebootGG opened #128 "TypeScript support"
Hi,

Would you consider adding support for TypeScript ?

I have this message when I'm trying to use the plugin in a .tsx file :

`TS7016: Could not find a declaration file for module 'gatsby-plugin-breadcrumb/'. '****/node_modules/gatsby-plugin-breadcrumb/index.js' implicitly has an 'any' type.   Try 'npm i --save-dev @types/gatsby-plugin-breadcrumb' if it exists or add a new declaration (.d.ts) f

[2021-01-25 15:56] sbardian commented on #128
@RebootGG sure thing! I'll look into creating types for this project.  I think you can make this error go away by making a `gatsby-plugin-breadcrumb.d.ts` file (name doesn't really matter as long as it ends with `d.ts` ) with the following:

[code]

As long as the `.d.ts` file is anywhere in the folder structure that your project looks for types it should make the error go away until some types ca

[2021-01-25 16:16] RebootGG commented on #128
Thank you, I look forward to that !

As for the workaround, I went with the more straightforward `@ts-ignore`, but it will definitely help out some folks around here, so thank you again.

[2021-02-12 14:35] unilimpio commented on #16
I am running into same problem using autoGen,
Here is the gatsby_config.js definition:
{
      resolve: `gatsby-plugin-breadcrumb`,
      options: {
        useAutoGen: true,
        autoGenHomeLabel: `Home`,
    },

here is the application on the page, in this case index.js (src/pages/index.js):

export default ({ pageContext }) => {

  const { breadcrumb: { crumbs } } = pageContext

return (

[2021-02-12 14:47] sbardian commented on #16
@unilimpio what are you getting when you console.log `pageContext` on the page?

[2021-03-11 00:40] miguelt1 opened #134 "Support for gatsby v3"

[2021-03-11 03:38] #134 closed

[2021-03-11 03:50] sbardian commented on #134
:tada: This issue has been resolved in version 12.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gatsby-plugin-breadcrumb/v/12.0.0)
- [GitHub release](https://github.com/sbardian/gatsby-plugin-breadcrumb/releases/tag/v12.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-11 04:16] sbardian commented on #110
Closing for now.  Feel free to open again if still having trouble.

[2021-03-11 04:16] #110 closed

[2021-03-17 14:22] miguelt1 opened #135 "Plugin gatsby-plugin-breadcrumb is not compatible with your gatsby version 3.1.0 - It requires gatsby@3.0.4"
Is it possible to launch a new version of gatsby-plugin-breadcrumb whenever gatsby released a new version too?

I'm asking this question because the new version of gatsby released is never synced with this plugin and it's giving me troubles in build time.

[2021-03-17 14:51] miguelt1 commented on #135
Is it possible to launch a new version of gatsby-plugin-breadcrumb whenever gatsby released a new version too?

[2021-03-17 18:17] #135 closed

[2021-03-17 18:22] sbardian commented on #135
:tada: This issue has been resolved in version 12.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gatsby-plugin-breadcrumb/v/12.1.0)
- [GitHub release](https://github.com/sbardian/gatsby-plugin-breadcrumb/releases/tag/v12.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-11 08:19] mpolinowski opened #144 "Problems with `pathPrefix`"
I am using an URL prefix for my Gatsby page:

`gatsby-config.js`

[code]

And I ended up with double-prefixed breadcrumbs (_/en/en/my/url_) when using the component like:

[code]

Imported from:

[code]

My Spaghetti solution for this is splitting of the prefix `/en` before handing it to the breadcrumb component:

[code]

So far I did not see a downside from it. But is there a cleaner way to handl

[2021-05-11 13:14] sbardian commented on #144
@mpolinowski  thanks for the issue.  That might just be a bug.  Are you also using the plugin option seen in this example config (https://github.com/sbardian/gatsby-plugin-breadcrumb#autogen-example) `usePathPrefix`?  If you have a code sandbox or something I'm happy to take a look.

[2021-07-06 15:28] mrkelly2180 opened #154 "Plugin gatsby-plugin-breadcrumb is not compatible with your gatsby version 2.32.9 - It requires gatsby@^3.0.0"
Plugin gatsby-plugin-breadcrumb is not compatible with your gatsby version 2.32.9 - It requires gatsby@^3.0.0

My stack can only run gatsby@^2.* - will this still work

[2021-07-06 19:00] sbardian commented on #154
@mrkelly2180 I think the code should still work, I don't think there were any changes other than the dependencies moving to 3+.  Worth testing out.

[2021-07-27 18:19] SMakaiTakori opened #155 "I am having this unexpected behavior as well and the demo seems to be having the same issue"
Indeed that demo works as expected!

Here's my sandbox https://codesandbox.io/s/github/dvlprmartins/dvlprmartins

Thanks for your help btw!

_Originally posted by @dvlprmartins in https://github.com/sbardian/gatsby-plugin-breadcrumb/issues/14#issuecomment-503729522_

[2021-07-27 18:20] SMakaiTakori commented on #155
When I click on go to page 2 link and then go to page 3 link, the breadcrumbs just chain on like homepage/page2/page3 instead of homepage/page3 when redirecting.

[2021-07-27 22:50] sbardian commented on #155
This is how click tracking works.  It is breadcrumbs based on your click path through the site.  Maybe checkout [autogen example](https://github.com/sbardian/gatsby-plugin-breadcrumb#autogen-example)

[2021-07-27 22:55] sbardian commented on #155
It only appears to work in your first link as you go from one page, back to the root, then to another page, back to the root/etc. If I'm seeing what I think you are referring to.

[2021-07-27 23:04] sbardian commented on #155
Ok maybe I'm confused.  Which behavior do you want?  Like the demo?  This is the default behavior with Click Tracking.  It just creates breadcrumbs as you navigate through the site, but if you go to a page that is already part of the breadcrumb, it will just revert back to that state.  So in your sandbox, it appears you HAVE to click back to Writtens each time, so you don't ever stack as you navig

[2021-07-29 15:23] sbardian commented on #155
@SMakaiTakori let me know thoughts on what I have above?  Thanks

[2021-07-29 16:11] SMakaiTakori commented on #155
Ok, that makes sense, however when I click to a page and then go back home
to click on another page, the breadcrumbs repopulate from all the pages
I've visited. Is this the intended behavior? I thought when going back to
the Home page route, the breadcrumbs would pick up from here rather than
chaining all of them together. Does that make sense?

On Thu, Jul 29, 2021 at 11:23 AM Brian Andrews ***@*

[2021-07-29 18:06] sbardian commented on #155
@SMakaiTakori that doesn't sound right.  Where on your sandbox can I see this behavior?   Also, are you using a pathPrefix?  I see some options in your `gatsby-config.js` for `gatsby-plugin-breadcrumb` that I don't recognize.  Maybe review the docs for [Click Tracking](https://github.com/sbardian/gatsby-plugin-breadcrumb#click-tracking-example)?

[2021-07-29 18:09] sbardian commented on #155
@SMakaiTakori  in your sandbox I think you have a path prefix of "writtens" see the docs / config example for when you have a path prefix. Maybe that will help, though I don't see this behavior on the sandbox anywhere, so maybe I'm missing it?

[2021-08-30 09:24] renovate[bot] opened #159 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [chore(deps): update node.js to v17](../pull/171)

## Ignored or Blocked

These are blocked by an existing closed PR and will not be recreated

[2021-10-21 14:32] sbardian commented on #154
if still an issue feel free to reopen if needed.

[2021-10-21 14:32] #154 closed

[2021-11-19 16:24] badaczewski opened #179 "warning Plugin gatsby-plugin-breadcrumb is not compatible with your gatsby version 4.2.0 - It requires gatsby@^3.0.0"
Getting warning messages on Gatsby v4 build.

warning Plugin gatsby-plugin-breadcrumb is not compatible with your gatsby version 4.2.0 - It requires gatsby@^3.0.0

[2021-12-10 15:22] badaczewski commented on #179
bump

[2021-12-10 15:30] sbardian commented on #179
Sorry @badaczewski let me get a fix pushed today

[2021-12-10 15:37] #179 closed

[2021-12-10 15:46] sbardian commented on #179
Fix should be in, may need to `npm install gatsby-plugin-breadcrumb` or `yarn add gatsby-plugin-breadcrumb` again to get it.

[2021-12-10 16:03] badaczewski commented on #179
Thanks! Really appreciate it!

On Fri, Dec 10, 2021 at 10:46 AM Brian Andrews ***@***.***>
wrote:

[2021-12-15 01:37] sbardian commented on #179
Sorry @badaczewski looks like semantic release didn't cut a new version.  That is my fault, didn't designate it correctly.  Will fix this soon.  My MacBook is currently being repaired.

[2021-12-29 01:55] sbardian commented on #179
:tada: This issue has been resolved in version 12.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gatsby-plugin-breadcrumb/v/12.3.0)
- [GitHub release](https://github.com/sbardian/gatsby-plugin-breadcrumb/releases/tag/v12.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-29 01:57] sbardian commented on #179
@badaczewski finally got the laptop back.  Should have a new version out there for you.  Let me know if it doesn't work for you.

[2022-02-18 22:54] rodrigoreeis opened #191 "possibility of resetting the first path if it is changed"
I was using the plugin, but I ended up encountering a problem in my usage scenario.

Whenever the product URL changes, I would necessarily have to reset the accumulated crumbs, for example:

product-1/blank
product-2/blank

When changing the initial path, I needed to reset the crumbs to this new "first path". Did you understand? Me implementing this, I can open a PR, does it make sense? And enabli

[2022-02-19 03:35] sbardian commented on #191
@rodrigoreeis, thanks for the issue.  Which way are you using the plugin?  Click Tracking or AutoGen?  I'm not 100% sure I understand the issue.

[2022-02-21 15:48] rodrigoreeis commented on #191
Hi @sbardian, how are u ? I was using click tracking.

So... let me try explain again. When we are using the plugin in mode: click tracking. All pages that we browse and visit are accumulated in breadcrumb, even we visite other page in the same category eg: `category-1/product-1`. I would like to reset the items in breadcrumb when we visite other category eg: `category-2/product-1`.

I was trying

[2022-02-21 17:44] sbardian commented on #191
@rodrigoreeis I think what you want would happen if you were using AutoGen instead of click tracking?  Maybe check out the docs/demo on that?

[2022-04-07 04:48] #191 closed

[2022-05-12 13:46] arjendejong12 commented on #92
@sbardian Any news about this? I really need this with `gatsby-source-wordpress`.